.contacts-form__wrapper {

}

.contacts-form__container {

}



.contacts-form__label {

}

.contacts-form__input-wrapper {
    flex-direction: column;
    column-gap: 20px;
}



.contacts-form__input-name  {

}

.contacts-form__input {
    width: 270px;
    height: 48px;
}




.contacts-form__input-name {

}



.contacts-form__input {

}





.contacts-form__input-name {

}



.contacts-form__input {

}

