.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 100%;
    width: 190px;
}

.item1 {
    background-color: aqua;
}
.item2 {
    background-color: coral;
}

.item3 {
    background-color:darkseagreen;
}